<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Biblioteca_LINQ_SQL.Properties.Settings.BibliotecaLinqSql"
            connectionString="Data Source=LIBERO\Davidsql;Initial Catalog=BibliotecaApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>